<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travels</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Meadowlark Travels Logo"></header>
        {{{body}}}
    </body>
</html>